@import "../../../../constants";

.chatTile {
  display: grid;
  grid-template-columns: 50px 1fr;
  padding: 32px;

  &:hover {
    background-color: lightgray;
  }

  .textCont {
    padding: 4px 0 0 8px;

    .topTextRow {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 8px;

      h2 {
        font-size: 1.1rem;
      }
    }

    .bottomTextRow {
      display: flex;
      justify-content: space-between;
      margin-top: 2px;

      p {
        color: $dark-grey;
      }

      button {
        cursor: pointer;
      }
    }
  }
}
